<div class="container">
  <div class"row">
    <div class="col-xs-12>
      <p>User Sign Up</p>
      <p>Please fill up blanks down below</p>
      <p>to join in us !!</div>
    </div>
    <%= form_for(@user, {controller: 'users',action: 'new'}) do |f| %>
      <div class="">
        <%= f.label :name, 'Name', class:"" %>
        <%= f.text_field :name, class:"" %>
      </div>
      <div class="">
        <%= f.label :email, 'Email', class:"" %>
        <%= f.text_field :email, class:"" %>
      </div>
      <div class="">
        <%= f.label :password, 'Password', class:"" %>
        <%= f.password_field :password, class:"" %>
      </div>
      <div class="">
        <%= f.label :password_confirmation, 'Password again', class:"" %>
        <%= f.password_field :password_confirmation, class:"" %>
      </div>
      <div class="">
        <%= f.submit "Create Account", class:"" %>
      </div>
    <% end %>
  </div>
</div>

