<div class="container">
  <div class="row">
    <%= render 'layouts/common_sidebar', user: current_user, book: @book %>_
    <div class="col-xs-9">
      <div class="">
      <h2>Welcome to Bookers <%= @user.name %> !!</h2>
      </div>
      <div class="">
        <h4>Infomation about you is down below</h4>
      </div>
      <table>
        <tr>
          <th>Your Name</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th>Your Email-Address</th>
          <td><%= @user.email %></td>
        </tr>
      </table>

      <% if current_user?(@user) %>
      <p><%= link_to 'Edit', edit_user_path, class:"btn btn-primary field" %></p>
      <% end %>
    </div>
  </div>
</div>
