<div class="col-xs-3 sidebar">
  <div class="">
    <h2 class="">User Info</h2>
    <div class="">
          <%= attachment_image_tag user, :profile_image_id, fallback:"", size:"100x100", class:"field pic" %>
    </div>

    <table>
      <tr>
        <th>Name</th>
        <td>
          <%= user.name %>
        </td>
      </tr>

      <tr>
        <th>Intro</th>
        <td>
          <%= user.introduction %>
        </td>
      </tr>
    </table>
    <div class="row wre-icon">
      <%= link_to "", edit_user_path(current_user.id), class:"col-xs-10 btn btn-default glyphicon glyphicon-wrench" %>
    </div>
  </div>


  <div class="col-xs-12">
  <h2>New book</h2>
    <%= form_for(book, url:{controller:'books', action:'create'}) do |f| %>
      <div class="window row">
        <%= f.label :title %>
        <%= f.text_field :title, class:"col-xs-12" %>
      </div>
      <div class="window row">
        <%= f.label :opinion %>
        <%= f.text_area :opinion, class:"col-xs-12" %>
      </div>
      <div class="window row">
        <%= f.submit 'Post' %>
      </div>
    <% end %>
  </div>

</div>
