<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div>
          <ul>
            <li><%= link_to 'ユーザ一覧', users_path %></li>
            <% if signed_in? %>
            <li><%= link_to 'プロフィール', current_user %></li>
            <li><%= link_to 'ログアウト', signout_path, method: :delete %>></li>
            <% else %>
            <li><%= link_to 'ログイン', signin_path %></li>
            <li><%= link_to 'アカウント作成', signup_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <hr />

    <%= yield %>
  </body>
</html>
