<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li><%= link_to 'User List', users_path %></li>
            <% if signed_in? %>
            <li><%= link_to 'Profile', current_user %></li>
            <li><%= link_to 'Logout', signout_path, method: :delete %></li>
            <% else %>
            <li><%= link_to 'Login', signin_path %></li>
            <li><%= link_to 'Sign up', signup_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <hr />

    <%= yield %>
  </body>
</html>
